In [28]:
import pandas as pd

df = pd.read_html('https://finance.naver.com/sise/sise_market_sum.nhn', encoding='cp949')

df[1]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,51500.0,300.0,+0.59%,100.0,3074438.0,5969783.0,56.97,6873613.0,8.55,19.63,NaN
2,2.0,SK하이닉스,80700.0,0.0,0.00%,5000.0,587498.0,728002.0,49.98,1790234.0,3.78,38.53,NaN
3,3.0,삼성전자우,42000.0,100.0,+0.24%,100.0,345612.0,822887.0,92.20,735203.0,6.97,NaN,NaN
4,4.0,NAVER,174500.0,500.0,-0.29%,100.0,287599.0,164813.0,58.68,215446.0,44.32,12.97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,미래에셋대우,7390.0,90.0,+1.23%,5000.0,48650.0,658316.0,15.22,970504.0,12.83,5.83,NaN
77,50.0,현대건설,42000.0,1250.0,+3.07%,5000.0,46769.0,111356.0,22.44,413656.0,12.27,5.99,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
def get_url(item_name, code_df):
    code = (code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False)).lstrip()
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
    
    print("요청 URL = {}".format(url))
    return url

item_name = '신라젠'
url = get_url(item_name, code_df)

df = pd.DataFrame()

for page in range(1, 21):
    pg_url = '{url}&page={page}'.format(url=url, page=page)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)
    
df = df.dropna()

df.head()

NameError: name 'code_df' is not defined